* {
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
}

header {
    background: lightgray;
    border-radius: 0 0 100px 100px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 20px;

        ul {
            display: inline-flex;
            list-style: none;
            padding-left: 0;

            li {
                margin: auto 5px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .right-nav {
            li {
                margin: auto 0;
            }

            li::after {
                content: "/";
                margin: 10px;
            }

            li:last-child {
                &::after {
                    content: "";
                    margin: 0;
                }
            }
        }

        .left-nav span {
            padding: 10px;
            width: 75px;
            display: inline-block;
            text-align: center;
            background: white;
            border-radius: 40px;
        }
    }

    .header-info {
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .header-info-foto {
            display: flex;
            justify-content: center;
            margin-top: 50px;

            img {
                width: 10%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
                border: 3px solid white;
            }
        }

        h1 {
            width: 30%;
            text-align: center;
            font-size: 3rem;
        }

        .action-button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            background: black;
            padding: 20px 50px;
            border-radius: 50px;

            img {
                margin-left: 10px;
            }

            &:hover {
                box-shadow: 0 0 10px 1px black;
            }
        }
    }
}

.section-partners {
    background: lightgray;

    .container {
        background: white;
        height: 20vh;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0 0 100px 100px;

        img {
            width: 10%;
        }
    }


}

.section-colab {
    background: lightgray;
    padding-bottom: 10vh;
    padding-top: 10vh;

    h1 {
        padding: 3rem;
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .colab-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablety */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        justify-content: center;
    }

    .headline {
        font-size: 60px;
    }

    .section-partners .container img {
        display: none;
    }

    .section-partners .container img:nth-child(odd) {
        display: block;

    }

    .cola-1 {
        transform: scale(70%);
        padding-right: -80px;
    }

    .cola-3 {
        transform: scale(200%);
    }

    .cola-5 {
        transform: scale(200%);
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Mobily */
@media (max-width: 768px) {

    .container {
        justify-content: center;
    }
}

nav {

    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headline {
    width: 55% !important;
    margin-top: 20px;
    font-size: 2.5rem !important;
}

.left-nav {
    margin-bottom: 16px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.section-partners .container img:first-child {
    display: block;
    width: 30%;
}

.section-partners .container img {
    display: none;
}


.section-colab h1 {
    font-size: 35px !important;
}
